

.container {
  position: relative;
  height: 100%;
  padding: 20px;
}

.panel {
  margin: 0 auto;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  max-width: 600px;
  max-height: 600px;
  overflow-y: scroll;
}

.tabs ul {
  margin-top: 20px;
  border-bottom: 1px solid transparent;
}

.spacer {
  max-width: 300px;
  margin: 20px auto 10px;
  display: block;
}

header {
  position: relative;
}

hr {
  display: block;
  position: absolute;
  top: 50%;
  left: -3em;
  width: calc(100% + 6em);
  height: 1px;
  // z-index: -1;
  background: #c8cccf;
  border-color: #c8cccf;
  margin: 0;
}

.avatar {
  padding: 10px;
  border-radius: 50%;

  img {
    box-shadow: 0 0 0 1.5em #ffffff;
    // background: #EF9A9A;
    // border: 1px solid darken(#EF9A9A, 10%);
    border-radius: 50%;
    display: inline-block;
    height: 150px;
    width: 150px;
    position: relative;
z-index: 999;
  }
}

h2.title {
  margin-bottom: 10px;
}


//
// .jobs {
//
//   li {
//     list-style: none;
//     display: inline;
//     white-space: pre;
//   }
//
//   li:after {
//     // content: " \00b7 ";
//     content: "";
//     width: 5px;
//     height: 5px;
//     color: #c8cccf;
//     // font-size: 24px;
//   }
// }
