<!-- <div class="container" >

  <div class="box panel" [@flyInOut]="state">


    <div class="tabs is-centered ">
      <ul>
        <li routerLink="" routerLinkActive="is-active"><a>Home</a></li>
        <li routerLink="projects" routerLinkActive="is-active"><a>Projects</a></li>
      </ul>
    </div>

  </div>


</div> -->

<header class="has-text-centered">

  <div class="avatar">
    <img src="assets/corey.png" width="150" height="150" />
  </div>

  <hr />
</header>

<div class="has-text-centered">
  <h1 class="title is-2">Corey Sery</h1>
  <h3 class="subtitle is-6 is-spaced">Nashville, TN</h3>

  <h2 class="title is-5 is-spaced">Developer</h2>

  <div class="spacer">
    <p>
      Hey I'm Corey and I write code. I could write some code for you too.
    </p>
  </div>

</div>
