<div id="home">
  <div id="bio">
    <div class="container">
      <img id="babe" src="../assets/img/corey.jpg" />
      <h1>Corey Sery</h1>
      <hr/>
      <p>What up. Here's my Angular2 + ES6 + Webpack + Mocha/Karma starterpack.</p>
      <p>Here are some links to get in touch with me if you are mildly impressed.</p>
    </div>
    <social-blocks></social-blocks>
  </div>

  <div id="pages">
    <a href="#"  id="dev">
      <div>
        <span>Dev</span>
      </div>
    </a>
    <a href="#" id="audio">
      <div>
        <span>Audio</span>
      </div>
    </a>
  </div>

</div>
