<div id="home">
  <section id="bio">
    <article class="container">
      <div id="babe">
        <img src="../assets/img/corey.jpg" />
      </div>
      <h3>
        — Hi, my name is Corey. I'm a developer, entrepreneur, and audio engineer living in South Nashville.
      </h3>
      <hr/>
      <p>
        I love to code and I love to create! I develop web apps in Javascript and I record music.
      </p>
      <p>
        I plan on using my talents in either field to work remotely and travel. Some things I study include machine learning, digital audio, and entrepreneurship.
      </p>
    </article>
    <social-blocks></social-blocks>
  </section>

  <section id="pages">
    <a href="#"  id="dev">
      <div>
        <span>Dev</span>
      </div>
    </a>
    <a href="#" id="audio">
      <div>
        <span>Audio</span>
      </div>
    </a>
  </section>

</div>
